html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
}

.header {
  width: 95%;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #019BC9;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #52AAF7;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.github {
  color: #0366d6;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  position: relative;
  margin: 10px 0;
}

.github:hover  {
  color: #054a8e;
  text-shadow: 0 0 3px rgba(3, 102, 214, 0.3); 
}

form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.line > input, .line > select {
  width: 50%;
}

.radios {
  display: flex;
}
